// Colours
 $brand-primary: rgb(39,158,188);

 $grey-black:   rgb(1,5,7);
 $grey-dark:    rgb(179,179,179);
 $grey-mid:     rgb(204,204,204);
 $grey-light:   rgb(242,242,242);

 $seperation:           -22;
 $alert-low:            hsl(85, 80%, 55%);
 $alert-moderate:       adjust-hue($alert-low, $seperation);
 $alert-substantial:    adjust-hue($alert-moderate, $seperation);
 $alert-severe:         adjust-hue($alert-substantial, $seperation);
 $alert-critical:       adjust-hue($alert-severe, $seperation);

 $election-general:     rgb(53, 130, 63);
 $election-local:       rgb(53, 113, 130);
 $election-regional:    rgb(130, 53, 117);
 $election-pcc:         rgb(53, 65, 130);
 $election-referendum:  rgb(130, 114, 53);