// Colours
 $brand-primary: rgb(39,158,188);

 $grey-black:   rgb(1,5,7);
 $grey-dark:    rgb(179,179,179);
 $grey-mid:     rgb(204,204,204);
 $grey-light:   rgb(242,242,242);

 $alert-critical:       rgb(228,25,43);
 $alert-severe:         rgb(255,135,27);
 $alert-substantial:    rgb(226,215,24);
 $alert-moderate:       rgb(31,141,190);
 $alert-low:            rgb(226,226,226);
