@import "normalize";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
  font-family: "Lato", Helvetica, sans-serif;
  box-sizing: border-box;
  color: $grey-black;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: $brand-primary;

  &:hover {
    color: darken($brand-primary, 10%);
  }
}

h1 {
  font-size: 26pt;
  font-weight: 700;
  margin: 0.25em 0;
  color: darken($brand-primary, 10%);
}

h2 {
  color: darken($brand-primary, 15%);
  font-size: 18pt;
  font-weight: 600;
  margin: 0.25em 0;
  padding-bottom: 0.33em;
}

.meta {
  font-size: 0.88em;
  color: $grey-dark;
}

.section {
  display: flex;
  justify-content: center;
  color: $grey-light;
  padding: 1rem 4.5rem;

  &.grey {
    background-color: $grey-light;
  }

  >*{
    flex-basis: 950px;
    flex-grow: 0;
    flex-shrink: 1;
  }
}

section#site-header {
  background-color: darken($brand-primary, 40%);
  padding: 0.5rem 4.5rem;

  a {
    color: $grey-light;
    margin-right: 1rem;

    &:hover {
      color: $grey-mid;
    }
  }
}

section#masthead {
  overflow: hidden;
  min-height: 4em;
  background-color: $brand-primary;
  color: $grey-light;

  h1, p {
    color: $grey-light;
    margin-bottom: 1rem;
  }
}

section#alert-info {

  h2 {
    border-bottom: 3px solid lighten($grey-mid, 5%);
    margin-bottom: 1em;
  }

  .alert-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .column {
      flex-basis: 33%;
      flex-grow: 1;
      flex-shrink: 1;
      margin-right: 1em;
    }

    .alert {
      display: inline-block;
      font-size: 38px;
      text-transform: uppercase;
      font-weight: 500;
      padding: 0.2em 0.5em;
      border: 3px dotted $grey-black;

      &.critical {
        background-color: $alert-critical;
        border: 4px solid darken($alert-critical, 20%);
        color: darken($alert-critical, 26%);
      }
      &.severe {
        background-color: $alert-severe;
        border: 4px solid darken($alert-severe, 20%);
        color: darken($alert-severe, 26%);
      }
      &.substantial {
        background-color: $alert-substantial;
        border: 4px solid darken($alert-substantial, 20%);
        color: darken($alert-substantial, 26%);
      }
      &.moderate {
        background-color: $alert-moderate;
        border: 4px solid darken($alert-moderate, 20%);
        color: darken($alert-moderate, 26%);
      }
      &.low {
        background-color: $alert-low;
        border: 4px solid darken($alert-low, 20%);
        color: darken($alert-low, 26%);
      }
    }

    .description {
      flex-basis: 66%;
      >p:first-child {
        margin-top: 0;
        font-size: 1.33em;
      }

      a.more {
        float: right;
      }
    }
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  .election-date {
    margin: 0.88rem 2rem;
    text-align: center;
    flex: 1 1 25%;
    text-decoration: none;

    &:hover {
      .type {
        background-color: darken($grey-light, 2.5%);
      }
      .date, .year {
        background-color: lighten($grey-light, 1.2%);
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    p {
      margin: 0;
    }

    > * {
      padding:1rem;
    }

    .type {
      border-top: 3px solid darken($brand-primary, 10%);
      border-bottom: 2px dashed $grey-mid;
      color: darken($brand-primary, 10%);
      padding: 0.88rem 1rem;
      background-color: $grey-light;

      &.general {
        border-top: 3px solid $election-general;
        color: $election-general;
      }

      &.local {
        border-top: 3px solid $election-local;
        color: $election-local;
      }

      &.regional {
        border-top: 3px solid $election-regional;
        color: $election-regional;
      }

      &.pcc {
        border-top: 3px solid $election-pcc;
        color: $election-pcc;
      }

      &.referendum {
        border-top: 3px solid $election-referendum;
        color: $election-referendum;
      }
    }

    .date {
      font-size: 34px;
      background-color: lighten($grey-light, 2.8%);
      padding: 1.8rem 1rem;
    }

    .year {
      font-size: 34px;
      background-color: lighten($grey-light, 2.8%);
      color: lighten(#000, 33%);
      padding: 1.8rem 1rem;
    }
  }
}