doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section#site-header.section
      header <a href="#">About</a>
    section#masthead.section
      article
        h1 Election Threat Level
        p Some information on what this website is about...
    block content