doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section#site-header.section
      header 
        a(href="#") About
        a(href="/api/1") API
        a(href="#") Login
    section#masthead.section
      article
        img(src="/images/EW-Logo-Flat-White-v2.svg", alt="", style="max-height: 80px")
    block content